body {
    width: 100vw;
    height: 100vh;
}

header {
    height: 5%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #04247c;
    font-size: 20px;
}

.header__left-ttl {
    font-size: 28px;
}

.header__nav-list {
    display: flex;
    justify-content: flex-end;
}

.header__nav-list-item:not(:last-child) {
    margin-right: 20px;
}

.header__nav-item-link {
    font-weight: bold;
    text-decoration: none;
}

main {
    height: 85%;
}

.top {
    position: relative;
    width: 100%;
    height: 100%;
}

.top__ttl {
    position: absolute;
    top: 55%;
    z-index: 10;
    font-size: 70px;
    font-weight: normal;
}

.top__image {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 45%;
    height: 75%;
}

.top__under-block {
    position: absolute;
    top: calc(55% + 70px);
    left: 0px;
    width: 75%;
    height: 25%;
    background-color: #04247c;
}